@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #f7dcc88f;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

header {
  position: fixed;
  background-color: #9b7b6be8;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  cursor: pointer;
  font-family: "Satisfy", cursive;
  font-size: 30px;
  justify-content: flex-start;
}

.showcase {
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  background: linear-gradient(to top, #b38e7c, 20%, transparent);
}
.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
  width: 100vw;
}

.text h2 {
  font-size: 8em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  padding-bottom: 15px;
  text-align: center;
  font-family: "Satisfy", cursive;
}
.text h3 {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  padding-bottom: 40px;
  text-align: center;
  font-family: "Mali", cursive;
}
.text p {
  text-align: center;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  text-align: center;
  border-radius: 5px;
}
.text a:hover {
  letter-spacing: 6px;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  align-items: center;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
header .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu ul {
  position: relative;
  overflow: hidden;
}
.menu ul li {
  list-style: none;
  display: inline-block;
  float: none;
  padding-left: 1em;
  padding-right: 1em;
}
.menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Mali", cursive;
}
.menu ul li a:hover,
.menu ul li a.active {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  transition: 0.002s;
  border-radius: 15px;
}
@media (max-width: 991px) {
  .showcase,
  .showcase header,
  .menu,
  .menu ul {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
.about {
  background-color: #f7dcc88f;
}
.about h2 {
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-left: 50px;
  color: #9b7a6a;
}

.about p {
  font-family: "Mali", cursive;
  font-size: 23px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  text-align: justify;
}
.emoji {
  font-weight: initial !important;
  color: none;
}
.column {
  float: left;
  width: 23em;
  padding: 16px 25px;
  margin-bottom: 20px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.services h2 {
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-left: 50px;
  color: white;
}
.services h3 {
  font-family: "Caveat Brush", cursive;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}

.services {
  padding: 20px;
  background-color: #ddbea9;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: justify;
  background-color: whitesmoke;
  height: 30em;
  width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow-x: hidden;
  -webkit-box-shadow: 15px 15px 27px #9b7a6abe, -15px -15px 27px #b38e7cce;
  box-shadow: 15px 15px 27px #9b7a6a8c, -15px -15px 27px #b38e7cb9;
}
.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 5px;
  transition: 0.2s;
}

.card-img:hover {
  transform: scale(1.11);
}

.card:hover {
  transform: scale(1.11);
}
.card p {
  font-family: "Mali", cursive;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.services #book {
  background-color: #2a9d8f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.services #book:hover {
  letter-spacing: 6px;
  cursor: pointer;
  transform: scale(1.1);
}
section.gallery {
  padding-bottom: 14em;
}
div.gallery {
  border: 1px;
  padding: 50px auto;
  flex-wrap: wrap;
}
div.gallery a {
  text-decoration: none;
}

div.gallery img {
  width: 90%;
  position: relative;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: 0.15s;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: white;
  border-width: 5px;
}
div.gallery img:hover {
  transform: scale(1.1);
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.gallery h2 {
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-left: 50px;
  padding-top: 10px;
  color: #9b7a6a;
}
.contact {
  font-family: "Mali", cursive;
  font-weight: bold;
  background-color: #ddbea9;
}

.contact h2 {
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-left: 50px;
  padding-top: 10px;
  text-align: left;
  color: white;
}

.contact p {
  font-family: "Mali", cursive;
  font-size: 23px;
  padding-left: 50px;
  font-weight: bold;
  text-align: justify;
  color: white;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Mali", cursive;
  font-weight: bold;
  border-radius: 5px;
}
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Mali", cursive;
  font-weight: bold;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #2a9d8f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

input[type="submit"]:hover {
  transform: scaleX(1.1);
  letter-spacing: 6px;
}

.container {
  border-radius: 5px;
  background-color: #d1b29d;
  padding: 10px;
}

#contact .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
#contact img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: 0.15s;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: white;
  border-width: 5px;
}

#contact .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.footer h3 {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  text-align: center;
  color: #9b7a6a;
}

.footer p {
  font-family: "Mali", cursive;
  font-size: 1.2em;
  font-weight: bold;
  color: #9b7a6a;
  text-align: center;
}
.footer p a {
  text-decoration: none;
  color: #9b7a6a;
}
.footer p a:hover {
  color: #111;
}

p.accordion {
  background-color: #d1b29d;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
  transition: ease-in-out;
  margin-bottom: 2px;
  margin-left: 7em;
  margin-right: 7em;
}

p.accordion.active,
p.accordion:hover {
  background-color: #d1b29dc5;
}

p.accordion:after {
  content: "\2795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

p.accordion.active:after {
  content: "\2796";
}

div.panel {
  padding: 11px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  opacity: 0;
  margin-bottom: 7px;
  border-radius: 5px;
  margin-left: 7em;
  margin-right: 7em;
  font-family: "Mali", cursive;
  font-weight: bold;
  font-size: 20px;
}

div.panel.show {
  opacity: 1;
  max-height: 500px;
}
.faq {
  padding-bottom: 5em;
}
.faq p {
  font-family: "Mali", cursive;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.faq h2 {
  font-family: "Satisfy", cursive;
  font-size: 5em;
  padding-left: 50px;
  color: #9b7a6a;
}
