button {
  color: rgb(206, 44, 44);
  font-weight: 600;
  float: right;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding: 12px 10px;
  border-radius: 20px;
  width: 7em;
}
button:hover {
  transition: 200ms;
  transform: scale(1.1);
}

.column1 {
  height: 100%;
  float: left;
  width: 90%;
}
.column2 {
  height: 100%;
  float: left;
  width: 10%;
}
.row {
  height: 49px;
  padding: 20px 50px 0px 30px;
}

.box {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff4b2b, #ff416c)
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ !important;
}

.box2 {
  margin-left: 100px;
}

.avatar {
  border-radius: 50%;
}

.column3 {
  float: left !important;
  width: 33% !important;
}
h2 {
  margin-top: 0px;
  padding-top: 0px;
  color: white;
}

.profile {
  border: 2px solid rgb(255, 166, 255);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 200px;
  margin: 10px 5px;
  text-align: center;
  font-family: arial;
  padding: 15px;
  border-radius: 18px;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff4b2b, #ff416c)
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ !important;
}

.profile:hover {
  transition: 400ms;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.email {
  color: white;
  font-size: 18px;
  overflow-wrap: anywhere;
  font-family: "Outfit", sans-serif;
}
.name {
  font-size: 20px;
  color: white;
  font-family: "Outfit", sans-serif;
}
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  width: 15%;
}
